<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Food Review</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bg-light">
    <div id="maincontainer">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url('home') }}">FOOD REVIEW</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    MENU
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url('item_index') }}">Pizzas</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a class="nav-link" href="{{ path('profile_index') }}">{{ app.user.username }}</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ url('logout') }}">Logout</a>
                        </li>
                    {% else %}
                    <li>
                        <a class="nav-link" href="{{ url('login') }}">Login</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ url('signup') }}">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </div>
</body>
<footer>
    <div id="footer">
        <a href="{{ url('admin_index') }}">Admin Controls</a>
    </div>
</footer>
{% block javascripts %}
    <script src="/js/jQuery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
{% endblock %}
</html>